.dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #4379B7;
  color: #4379B7;
  box-shadow: 9984px 0 0 0 #4379B7, 9999px 0 0 0 #4379B7, 10014px 0 0 0 #4379B7;
  animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 #4379B7, 9999px 0 0 0 #4379B7, 10014px 0 0 0 #4379B7;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #4379B7, 9999px 0 0 0 #4379B7, 10014px 0 0 0 #4379B7;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #4379B7, 9999px 0 0 0 #4379B7, 10014px 0 0 0 #4379B7;
  }
  50% {
    box-shadow: 9984px 0 0 0 #4379B7, 9999px -10px 0 0 #4379B7, 10014px 0 0 0 #4379B7;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #4379B7, 9999px 0 0 0 #4379B7, 10014px 0 0 0 #4379B7;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #4379B7, 9999px 0 0 0 #4379B7, 10014px -10px 0 0 #4379B7;
  }
  100% {
    box-shadow: 9984px 0 0 0 #4379B7, 9999px 0 0 0 #4379B7, 10014px 0 0 0 #4379B7;
  }
}